{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Document</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Rev</th>
                <td>{{ entity.rev }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Editedat</th>
                <td>{{ entity.editedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Processnumber</th>
                <td>{{ entity.processNumber }}</td>
            </tr>
            <tr>
                <th>Editionnumber</th>
                <td>{{ entity.editionNumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('documents') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('documents_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('documents_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
