{% extends 'DigitalwertMonodiAdminBundle::base.html.twig' %}

{% block headline %}Nutzerverwaltung{% endblock headline %}


{% block content_content %}
    <h1>Nutzer bearbeiten</h1>

    <form
      class="form-horizontal" 
      id="userFormEdit" 
      action="{{ path('users_edit', { 'id': entity.id }) }}" 
      method="put" 
      {{ form_enctype(edit_form) }}
    >
        {{ form_widget(edit_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Speichern</button>
            <button type="reset" class="btn">Abbrechen</button>
        </div>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('users') }}">
                Zurück zur Übersicht
            </a>
        </li>
        <li>
            <form action="{{ path('users_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
