{# empty Twig template #}
<tr>
    <td><a href="{{ path('admin_users_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.enabled }}</td>
    <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ user.locked }}</td>
    <td>{{ user.expired }}</td>
    {#
    <td>{% if user.expiresAt %}{{ user.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if user.passwordRequestedAt %}{{ user.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ user.credentialsExpired }}</td>
    <td>{% if user.credentialsExpireAt %}{{ user.credentialsExpireAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    #}
    <td>{{ user.id }}</td>
    <td>
        <div class="btn-group">
            <a class="btn" href="{{ path('admin_users_show', { 'id': user.id }) }}">
                <i class="icon icon-search"></i>details
            </a>
            <a class="btn" href="{{ path('admin_users_edit', { 'id': user.id }) }}">
                <i class="icon icon-pencil"></i>bearbeiten
            </a>
        </div>
    </td>
</tr>
