{# empty Twig template #}
<tr>
    <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.enabled }}</td>
    <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ user.locked }}</td>
    <td>{{ user.expired }}</td>
    {#
    <td>{% if user.expiresAt %}{{ user.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{% if user.passwordRequestedAt %}{{ user.passwordRequestedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    <td>{{ user.credentialsExpired }}</td>
    <td>{% if user.credentialsExpireAt %}{{ user.credentialsExpireAt|date('Y-m-d H:i:s') }}{% endif %}</td>
    #}
    <td>{{ user.id }}</td>
    <td>
        <ul>
            <li>
                <a href="{{ path('users_show', { 'id': user.id }) }}">show</a>
            </li>
            <li>
                <a href="{{ path('users_edit', { 'id': user.id }) }}">edit</a>
            </li>
        </ul>
    </td>
</tr>
