{% extends 'DigitalwertMonodiAdminBundle::base.html.twig' %}

{% block headline %}Nutzerverwaltung{% endblock headline %}


{% block content_content %}
    <h1>Nutzererstellung</h1>
    
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <form
      class="form-horizontal" 
      id="userFormNew" 
      action="{{ path('admin_users_create') }}" 
      method="post" 
      {{ form_enctype(form) }}
    >
        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Speichern</button>
            <button type="reset" class="btn">Abbrechen</button>
        </div>
    </form>

    <ul class="record_actions">
        <li>
            <a class="btn" href="{{ path('admin_users') }}">
                Zurück zur Übersicht
            </a>
        </li>
    </ul>
{% endblock content_content %}
