{% extends 'DigitalwertMonodiFrontendBundle::base.html.twig' %}

{% block body %}
{#
    <div class="form">  
        <form action="{{ path('fos_oauth_server_authorize', {
                'client_id': app.request.get('client_id'), 
                'response_type': app.request.get('response_type'),
                'redirect_uri': app.request.get('redirect_uri'),
                'state': app.request.get('state'),
                'scope': app.request.get('nscope')
            }) }}" 
            method="POST" 
            class="vertical fos_oauth_server_authorize" {{ form_enctype(form) }}>
            <div class="form_title">  
                Grant access to {{ client.name }}  
            </div>
            {{ form_widget(form) }}
    
            <div class="form_button">  
              <input type="submit" value="Authorize" />  
            </div>  
        </form>
    </div>
#}  
<form action="{{ path('fos_oauth_server_authorize', {
                'client_id': app.request.get('client_id'), 
                'response_type': app.request.get('response_type'),
                'redirect_uri': app.request.get('redirect_uri'),
                'state': app.request.get('state'),
                'scope': app.request.get('nscope')
            }) }}" 
            {{ form_enctype(form) }} 
            method="POST" 
            class="vertical fos_oauth_server_authorize" 
            style="margin-bottom: 0" >
    <div class="modal-header">
        <h3>Grant access to MonodiClient</h3>
    </div>
    <div class="modal-body" style="height: 70px">
        {{ form_errors(form) }}

        {{ form_row(form.allowAccess) }}
        {{ form_rest(form) }}
    </div>
    <div class="modal-footer">
        <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Authorize</button>
    </div>
</form>

{% endblock body%}
