{% extends 'DigitalwertMonodiAdminBundle::base.html.twig' %}

{% block headline %}Gruppenverwaltung{% endblock headline %}

{% block content_content -%}    
    
    <h1>Gruppe - {{ group.name }}</h1>
    
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <table class="table table-striped table-bordered record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ group.name }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in group.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="btn-group record_actions">
        <li>
            <a class="btn btn-info"href="{{ path('admin_groups') }}">
                <i class="icon icon-pencil"></i>Zurück zur Übersicht
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('admin_groups_edit', { 'id': group.id }) }}">
                <i class="icon icon-pencil"></i>Edit
            </a>
        </li>
        <li>
            <form action="{{ path('admin_groups_delete', { 'id': group.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit" class="btn btn-danger"><i class="icon icon-trash"></i>Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
