{% extends 'DigitalwertMonodiFrontendBundle::base.html.twig' %}

{% block body %}
    <form action="{{ path('fos_oauth_server_login_check') }}" method="post" style="margin-bottom: 0">
        <div class="modal-header">
            <h3>Login</h3>
        </div>
        <div class="modal-body">
            {% if error %}
              <div class='form_error'>{{ error }} </div>  
              {{ error.message }}
            {% endif %}
            <p><input type="text" id="username" name="_username" placeholder="Username"></p>
            <p><input type="password" id="password" name="_password" placeholder="Password"></p>
        </div>
        <div class="modal-footer">
            <a href="{{ path('fos_user_resetting_request') }}" >{{ 'resetting.link_title'|trans({}, 'FOSUserBundle') }}</a>
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Login</button>
        </div>
    </form>

{% endblock body%}
